:root{
  --serif: 'PT Serif', serif;
  --sans-serif: 'Josefin Sans', sans-serif;
}

body {
  background-color: rgb(24, 24, 24);
  width: 100%;
}

.light-bg {
  background-color: #c9ae87;
}

.medium-bg {
  background-color: rgb(110, 82, 58, .6);
}

.wood-bg {
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%;
  min-height: 120vh;
  z-index: -1;
}

.darken-bg{
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
}


.text-main{
  color: white;
  font-family: var(--serif);
  font-size: 1.1rem;
  line-height: 1.3;
}

.page-headings{
  color: white;
  font-family: var(--serif);
 font-size: 2rem;
}

.reg-img{
  border-radius: 15px;
  box-shadow: 3px 3px 20px .5px black;
  object-fit: contain;
  width: 100%;
}

.hyphenate{
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.container-fluid {
  margin: 0;
  padding: 10% 3%;
  
}

/* Buttons */

button, .btn-cust, input[type="submit"], input[type="reset"], .modal button, .navbar-toggler {
  border: none;
  padding: 0;
  /* background-color: #aa754c; */
  border-radius: 10px;
  box-shadow: 2px 2px 5px 1px black;
  background-image: url("images/button.jpg");
  background-size: 100%;
  color: rgb(0, 0, 0);
  font-family: var(--serif);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
}

.btn-cust:hover{
  box-shadow: 2px 2px 1px 1px black;
  transform: scale(.98);
  transition: .3s;

}

nav a{
  color: white !important;
  font-family: var(--sans-serif);
}

.navbar-brand{
  font-size: 6vw;
  margin: 1% 0 0 2vw;
}

.nav-link{
  font-size: 1rem;
  margin-right: 3%;
  text-align: right;
}

.nav-link:hover{
  color: rgb(226, 109, 31) !important;
  transform: scale(1.1);
  transition: .5s;
}

/* carousel */
.carousel-item{
  text-align: center;
}

.carousel-img {
  margin: 0 auto;
  min-height: 100%;
  object-fit: contain;
  width: 100%;
}

.carousel-control-next, .carousel-control-prev {
  filter: brightness(0) contrast(10%);
}

.carousel-indicators li{
  border-radius: 50%;
  height: .5rem;
  position: relative;
  width: .5rem;
  }

  /* Process section main page*/
.process-cell{
  width: 100%;
}

.process-label{
  color: white;
  font-family: var(--sans-serif);
font-size: 1.5rem;
  text-align: center;
}


/* Get a quote section */
.contact{
  color: #fff;
  font-size: 1.2rem;
  width: 100%;
}

.shop-img {
  border-radius: 15px;
  box-shadow: 0 0 10px 1px black;
  width: 100%;
}

.forms-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.form-group:focus-within{
transform: scale(1.05, 1.05);
transition: .3s;
}

.form-label{
    font-family: var(--serif);
    margin-top:1rem;
    margin-bottom:0;
}

.form-control{
    margin: 1% auto;
}

.form-control:valid:focus{
border-color: green;
box-shadow: none;
}

.form-control:invalid:focus{
border-color: red;
box-shadow: none;
}

/* footer */
#footer {
  height: 80px;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}

.social-icon {
  color: white;
  font-size: 1.2rem;
  position: relative;
}


/* Projects page */


/* My-work video */
/* .timelapse {
  border-radius: 20px;
  padding: 3%;
}

.cell-vid {
  width: 100%;
  height: 300px;
}

.cell-vid iframe {
  width: 100%;
  height: 100%;
} */

/*Projects and Gift shop pages*/

.projects-cell {
  padding: 7% 3%;
}

#projects .reg-img, #gift-shop .reg-img{
  cursor: pointer;
}

.gift-shop-caption{
  color: white;
  font-family: var(--sans-serif);
  font-size: 1rem;
  line-height: 1.3;
  text-align: center;
}

.modal-header, .modal-body, .modal-footer{
  background-image: url(images/wood-grain.jpg);
  background-size: 100%;
}

/* About me page */
.img-out-box{
  display: none;
}

.family-img {
  border-radius: 50%;
  box-shadow: 0 0 10px 1px black;
  width: 100%;
}

.text-box {
  align-items: center;
  border-radius: 20px;
  box-shadow: 3px 3px 20px .5px;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 5%;
  text-align: justify;
  width: 100%;
}

.text-box .text-main{
  color: black;
}



@media (min-width:576px){
.container-fluid {
  padding: 5% 2%;
  
}

.projects-cell {
  padding: 3%;
}
}



@media (min-width:768px){
.page-headings{
 font-size: 2.75rem;
}

.navbar-brand{
  font-size: 3.3vw;
}

/* about me page */
.text-box{
  padding: 3%;
}

.img-in-box{
  display: none;
}

.img-out-box{
  display: block;
}

/* Projects page */
.cell {
  padding: 3%;
}


}

@media (min-width:992px){
.nav-link{
  font-size: 1.1rem;
}

.text-main{
  font-size: 1.2rem;
}


.container-fluid {
  padding: 3% 5%;
  }
}